src/main/mule/insuranceapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="insuranceapi-config" api="insuranceapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c6ebe170-6d5c-4d1c-97c5-b386c5d9ce1e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="insuranceapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="insuranceapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="insuranceapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="insuranceapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\api\insurance:application\json:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Insurance policy updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\insurance:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  policyNumber: "US-IND-1290992",
  travelPlan: "Two Trip Premium",
  destination: "India",
  travelFromDate: "05-1-2023",
  travelToDate: "12-1-2023",
  totalTripCost: "\$18000",
  premiumPaid: "\$800",
  travellerList: [
    {
      firstName: "Traveller1-John",
      lastName: "Traveller1- Ronaldo",
      age: 35,
      email: "JohnRonaldo@abc.com",
      stateName: "New York",
      address: "Mr John Smith. 132 My Street Kingston New York 12401"
    }, 
    {
      firstName: "Traveller2-Michael",
      lastName: "Traveller2- Smith",
      age: 40,
      email: "MichaelSmith@abc.com",
      stateName: "New York",
      address: "47 W 13th St New York NY 10011 USA"
    }
  ],
  coverageList: [
    {
      coverageDesc: "Trip Cancellation",
      coverageAmt: "\$9000"
    }, 
    {
      coverageDesc: "Trip Interruption",
      coverageAmt: "\$7000"
    }, 
    {
      coverageDesc: "Emergency Medical",
      coverageAmt: "\$11000"
    }, 
    {
      coverageDesc: "Emergency Medical Transportation",
      coverageAmt: "\$40000"
    }, 
    {
      coverageDesc: "Baggage Loss/Damage",
      coverageAmt: "\$800"
    }, 
    {
      coverageDesc: "Travel Delay",
      coverageAmt: "\$200"
    }, 
    {
      coverageDesc: "24-Hr Hotline Assistance",
      coverageAmt: "\$0"
    }, 
    {
      coverageDesc: "Rental Car Damage Protector",
      coverageAmt: "\$90"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\login:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Login success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\insurance\newPolicy:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  policyNumber: "US-CN-1290991",
  travelPlan: "One Trip Basic",
  newPremiumCal: "\$771",
  coverageAmt: "\$154",
  destination: "One Trip Basic",
  fromDate: "15-10-2022",
  toDate: "28-10-2022",
  tripCost: "\$20000",
  travellerOneAge: "42",
  travellerTwoAge: "45",
  travellerThreeAge: "23",
  residence: "New York",
  totalPremium: "\$925"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\insurance\newQuote:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  oldPlanBenfits: {
    tripCancel: "\$8000",
    tripInterrupt: "\$8000",
    emergencyMedical: "\$10000",
    emergencyMedicalTransport: "\$50000",
    baggageLoss: "\$500",
    travelDelay: "\$300",
    hotlineAssistance: "Included",
    totalTripCost: "\$15000",
    RentalCarDamageProtector: "\$0",
    PremiumPaid: "\$590"
  },
  newPlanBenfits: {
    tripCancel: "\$7000",
    tripInterrupt: "\$7000",
    emergencyMedical: "\$10000",
    emergencyMedicalTransport: "\$50000",
    baggageLoss: "\$500",
    travelDelay: "\$300",
    hotlineAssistance: "Included",
    totalTripCost: "\$15000",
    RentalCarDamageProtector: "\$154",
    PremiumPaid: "\$771"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\insurance\policyPdf:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Policy PDF downloaded"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\insurance\tripList:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    tripName: "Spain - May-19"
  }, 
  {
    tripName: "USA Vermont - Nov-21"
  }, 
  {
    tripName: "Canada - Oct-22"
  }, 
  {
    tripName: "Greece - April-22"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\insurance\dui:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "DUI check is success for traveller"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\insurance\paymentGateway:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Payment success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
