src/main/mule/insuranceapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <apikit:config name="insuranceapi-config" api="insuranceapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c6ebe170-6d5c-4d1c-97c5-b386c5d9ce1e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="insuranceapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="insuranceapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="insuranceapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="insuranceapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\api\insurance:application\json:insuranceapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "travelPlan":"One Trip Basic",
  "travelToDate":"21-10-2022",
  "policyNumber":"US-CN-1290991",
  "destination":"Canada",
  "premiumPaid":"771",
  "travelFromDate":"15-10-2022",
  "totalTripCost":"20000",
  "coverageList":
  [
  	{
  		"coverageAmt":"7,000",
  		"coverageDesc":"Trip Cancellation"
  	},
  	{
  		"coverageAmt":"7,000",
  		"coverageDesc":"Trip Interruption"
  	},
  	{
  		"coverageAmt":"10,000",
  		"coverageDesc":"Emergency Medical"
  	},
  	{
  		"coverageAmt":"50,000",
  		"coverageDesc":"Emergency Medical Transportation"
  	},
  	{
  		"coverageAmt":"500",
  		"coverageDesc":"Baggage Loss/Damage"
  	},
  	{
  		"coverageAmt":"300",
  		"coverageDesc":"Travel Delay"
  	},
  	{
  		"coverageAmt":"0",
  		"coverageDesc":"24-Hr Hotline Assistance"
  	},
  	{
  		"coverageAmt":"154",
  		"coverageDesc":"Rental Car Damage Protector"
  	}
  ],
  "travellerList":
  [
  	{
  		"firstName":"Alice",
  		"lastName":"Smith",
  		"age":40,
  		"email":"AliceSmith@abc.com",
  		"stateName":"New York",
  		"address":"812, Albany Shaker Road, Albany, NY, 12211, USA"
  	},
  	{
  		"firstName":"John",
  		"lastName":"Smith",
  		"age":42,
  		"email":"JohnSmith@abc.com",
  		"stateName":"New York",
  		"address":"812, Albany Shaker Road, Albany, NY, 12211, USA"
  	},
  	{
  		"firstName":"Cameron",
  		"lastName":"Smith",
  		"age":23,
  		"email":"CameronSmith@abc.com",
  		"stateName":"New York",
  		"address":"256, Albany Shaker Road, Albany, NY, 57589, USA"
  	}
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="policyAdjustFlow" doc:id="2c98925d-3d25-4536-ae8c-981178612885" name="policyAdjustFlow"/>
    </flow>
    <flow name="get:\api\insurance:insuranceapi-config">
		<flow-ref doc:name="insuranceFlow" doc:id="a91a102b-0baf-490a-bc6f-e2ad3b4e4c7b" name="insuranceFlow"/>
    </flow>
<<<<<<< HEAD
    <flow name="get:\api\login:insuranceapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="48a96b3a-b041-4985-8c06-bebcea31c841" name="globalFlow"/>

=======
    <flow name="get:\api\login:insuranceapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="843604d7-9f72-49b6-93dc-e71cdd6891e3" name="globalFlow"/>
		<flow-ref doc:name="globalFlow" doc:id="bfded5fa-7f1e-42ab-94f9-b88a986d2e4f" name="globalFlow"/>
>>>>>>> branch 'master' of https://github.com/Ishika0601/Insurance-Mule.git
    </flow>
    <flow name="get:\api\insurance\newPolicy:insuranceapi-config">
		<flow-ref doc:name="newPolicyFlow" doc:id="ab484271-b050-4969-86bc-a10f3a987d2f" name="newPolicyFlow"/>
    </flow>
    <flow name="get:\api\insurance\newQuote:insuranceapi-config">
		<flow-ref doc:name="newQuoteFlow" doc:id="a8be813c-18a7-4543-a7c6-c9e6246256e0" name="newQuoteFlow"/>
    </flow>
    <flow name="get:\api\insurance\policyPdf:insuranceapi-config">
		<flow-ref doc:name="policyPdfFlow" doc:id="c13d052f-76a0-46ad-8d85-9eb0422c5431" name="policyPdfFlow"/>
    </flow>
    <flow name="get:\api\insurance\tripList:insuranceapi-config">
		<flow-ref doc:name="tripListFlow" doc:id="964a4b79-e79a-43c3-913e-d68c0b81ba76" name="tripListFlow"/>
    </flow>
    <flow name="post:\api\insurance\dui:insuranceapi-config">
		<flow-ref doc:name="duiCheckFlow" doc:id="cf1d0d05-136a-4449-b197-990853e0a7f1" name="duiCheckFlow"/>
    </flow>
    <flow name="post:\api\insurance\paymentGateway:insuranceapi-config">
		<flow-ref doc:name="paymentFlow" doc:id="df24a0ce-6e5f-4f2d-a3c2-1365ae48bcbc" name="paymentFlow"/>
    </flow>
</mule>
